# Uncomment one of the following lines depending on your repo, or write your own!
#vc_name    := pokered pokeblue
#vc_name    := pokeyellow
#vc_name    := pokegold pokesilver
#vc_name    := pokecrystal11
#vc_name    := my_awesome_hack

# Write the path to the repo here. Here are some examples:
#repo_path  := ../pokered
#repo_path  := /drives/c/Users/ISSOtm/Documents/pokecrystal
#repo_path  := /d/vulcandth/pkmn/pokedarkgold
